@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e2eee4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f0fdf4;
  }
}

body {
  color: var(--background);
  /* background:  var(--foreground); */

  background-image: url("/public/images/Hero_main.webp");
  background-position: c;
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
